@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.keywordSearch {
  display: none;
}

body {
  width: 100%;
  margin: 0;
  background-color: #ffffff;
  font-family: Abel;
}

/****************\\\\\\\\\ Down Carrot /////////****************/
.downArrow {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/****************\\\\\\\\\ Home Mobile /////////****************/

.homePage {
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainTop {
  height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainHomeImage {
  display: flex;
  object-fit: cover;
  overflow: hidden;
  height: 102vh;
  width: 100%;
  filter: brightness(55%);
}

#mainHomeTopText {
  position: absolute;
  font-size: 3em;
  margin: 0 1em;
  text-align: center;
  color: #fff;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  color: #5c5c5c;
}

.mainQoute {
  text-align: center;
  margin-bottom: 2.5em;
}

.mainQoute h2 {
  font-size: 49px;
  width: 5em;
  margin: 1em auto 0 auto;
  font-weight: 600;
  content: open-quote;
}

.mainQoute p {
  font-size: 28px;
  width: 6em;
  margin: auto;
  line-height: 45px;
}

blockquote ::before {
  content: open-quote;
  text-align: center;
  display: block;
  font-size: 1.5em;
  line-height: 1em;
  vertical-align: bottom;
  height: 0.5em;
  color: rgba(36, 36, 36, 0.4);
}

p::before {
  content: no-open-quote;
}

.partnerImageMain {
  width: 300px;
  display: block;
}

.visionImageMain {
  width: 300px;
  display: block;
}

#partnerHeader,
#visionHeader {
  font-weight: 700;
  color: #242424;
  font-size: 26px;
  text-align: center;
}

#partnerDetails,
#visionDetails {
  font-weight: 600;
  font-size: 15px;
}

#visionDetails {
  text-align: right;
}

/****************\\\\\\\\\ About Page Mobile /////////****************/

.aboutPage {
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lowerAbout {
  display: flex;
  flex-direction: column;
}

.aboutStarsImage,
.aboutCanyonImage {
  object-fit: cover;
  overflow: hidden;
  height: 102vh;
  width: 100%;
}

.topWordsAbout {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.crowImage,
.employeeOneImage,
.employeeTwoImage,
.employeeThreeImage,
.employeeFourImage,
.employeeFiveImage,
.employeeSixImage {
  width: 300px;
}

.teamMembers div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5em 0px 2.5em 0px;
}

.teamMembers div h3 {
  margin: 11px;
  font-weight: 500;
  font-size: 24px;
}

.teamMembers div p {
  font-weight: 600;
  color: #cda577;
  font-size: 13px;
  margin: 0;
}

.subNavAbout {
  margin: 2.5em 0px 2.5em 0;
  display: flex;
  justify-content: center;
  margin-right: 1em;
  font-size: 1.5em;
}

hr {
  width: 2em;
  color: #cda577;
}

#aboutSub,
#cultureSub {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aboutSub a,
#cultureSub a {
  text-decoration: none;
  color: #cda577;
}

/****************\\\\\\\\\ Culture Page Mobile /////////****************/

.culturePage {
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cultureStatement {
  margin: 4em 2em 5em 2em;
  font-size: 15px;
  line-height: 2em;
  text-align: center;
  color: #5c5c5c;
}

#beni {
  font-size: 29px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2em;
  color: #5c5c5c;
}

#strive {
  text-align: justify;
  margin: 0px 10px 2em 10px;
  font-weight: 100;
}

#promises {
  color: #5c5c5c;
  margin: 2em 1em 3em 1em;
  font-size: 22px;
  text-align: center;
}

/****************\\\\\\\\\ Connect Page Mobile /////////****************/

.connectPage {
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.connectTopImage,
.loginImage {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.upperText {
  position: absolute;
  text-align: center;
  color: #2a60a7;
}

#connectPhrase {
  margin: 3em 2em 3em 2em;
  font-size: 24px;
  letter-spacing: 2px;
  color: #5c5c5c;
}

.connectAddress {
  margin: 1em 2em 3em 2em;
  letter-spacing: 2px;
}

.loginTop h1 {
  position: absolute;
  text-align: center;
  color: #f9f9f9;
}

/****************\\\\\\\\\ SFP Page Mobile /////////****************/

.sfpPage {
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginBottom {
  text-align: center;
  margin: 7em 1em 7em 1em;
}

#logIn {
  background: #cda577;
  border-radius: 23px;
  box-shadow: -1px 4px 11px #5c5c5c;
  color: white;
  font-family: "Abel", Helvetica, sans-serif;
  font-size: 18px;
  height: 2.5em;
  width: 7em;
  border: none;
}

/****************\\\\\\\\\ Home Page Tablet /////////****************/
/****************\\\\\\\\\ About Page Tablet /////////****************/
/****************\\\\\\\\\ Culture Page Tablet /////////****************/
/****************\\\\\\\\\ Connect Page Tablet /////////****************/
/****************\\\\\\\\\ SFP Page Tablet /////////****************/

/****************\\\\\\\\\ Home Page Large /////////****************/
/****************\\\\\\\\\ About Page Large /////////****************/
/****************\\\\\\\\\ Culture Page Large /////////****************/
/****************\\\\\\\\\ Connect Page Large /////////****************/
/****************\\\\\\\\\ SFP Page Large /////////****************/
